@tailwind base;
@tailwind components;
@tailwind utilities;


.gradient_text {
  background: linear-gradient(45deg, #6ee7b7, #3b82f6);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent; /* Fallback for browsers that don't support text-fill-color */
}

@keyframes fade {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.carousel_image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  animation: fade 10s infinite;
}

.mapboxgl-popup-content {
  padding: 15px;
  border-radius: 8px;
}

.custom-popup {
  max-width: 200px;
}

.custom-popup img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 8px;
}